SimpleCaptureDemo.xcodeproj/xcuserdata/
SimpleCaptureDemo.xcodeproj/*.pbxuser
SimpleCaptureDemo.xcodeproj/*.perspective
SimpleCaptureDemo.xcodeproj/*.perspectivev3
SimpleCaptureDemo.xcodeproj/project.xcworkspace
.idea/workspace.xml
.idea/misc.xml
*.DS_Store
